.nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $gray;
    z-index: 2;

    @media (max-width: 900px) {
        display: none
    }

    &.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background: lighten($black, 5%);
        margin: 1px 0;
    }
}

.nav__item {
    margin: 5px 10px;

    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        transform: translateY(-2px);
        color: $white;
    }

    &.active {
        font-weight: 700;
        color: $white;
    }
}